<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>maxmin</title>
    </head>
    <body>
        <ol>
            <b>var1 = {{ var1 }} </b><br/>
            <b>var2 = {{ var2 }} </b><br/>
            <b>somma = {{somma}}</b><br/>
            {% if var1 < var2 %}
                <p style="color:green"><i>{{var1}} è minore di {{var2}}</i></p>
            {% elif var1 > var2 %}
                <p><i>var1 è maggiore di var2</i></p>
            {% else %}
                <p><i>var1 è uguale a var2</i></p>
            {% endif %}
        </ol>
    </body>
</html>